In [1]:
from dataframe_partial_join import partial_merge
import numpy as np 
import pandas as pd

In [2]:
# we create a random dataframe to be merge

data = {
    "id": [0, 1, 2],
    "calories": [420, np.nan, 390],
    "duration": [50, 40, np.nan],
    "height": [39, np.nan, 42],
    "weight": [np.nan, 132, np.nan],
}

df = pd.DataFrame(data)

supplementary_data= {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45],
    "height": [39, 35, 42],
    "weight": [110, 132, 143],
    "performance": [1, 3, 2]
}

supplementary = pd.DataFrame(supplementary_data)

In [3]:
df

   id  calories  duration  height  weight
0   0     420.0      50.0    39.0     NaN
1   1       NaN      40.0     NaN   132.0
2   2     390.0       NaN    42.0     NaN

In [4]:
supplementary

   calories  duration  height  weight  performance
0       420        50      39     110            1
1       380        40      35     132            3
2       390        45      42     143            2

In [5]:
supplementary.dtypes

calories       int64
duration       int64
height         int64
weight         int64
performance    int64
dtype: object

In [6]:
df.dtypes

id            int64
calories    float64
duration    float64
height      float64
weight      float64
dtype: object

In [7]:
keys_to = [['calories', 'duration'], ['duration'], ['calories']]
df[keys_to[0]] = df[keys_to[0]].fillna(-1)
supplementary[keys_to[0]] = supplementary[keys_to[0]].astype(df[keys_to[0]].dtypes.to_dict())

In [8]:
df = partial_merge(df, supplementary, keys_to)

Progress :  0.00%
aggregation :  0
Total Size df1:  3 | Total Size df2:  3
Progress :  33.33%
aggregation :  1
Total Size df1:  3 | Total Size df2:  3
Progress :  66.67%
aggregation :  2
Total Size df1:  3 | Total Size df2:  3

In [9]:
df

   id  calories  duration  height  weight  performance
0   0     420.0      50.0    39.0   110.0          1.0
1   1      -1.0      40.0    35.0   132.0          3.0
2   2     390.0      -1.0    42.0   143.0          2.0